[app:main]
use = egg:moodeque

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en

# api config. Version is mandatory, base_url optional, defaults to 'api'
moodeque.api.version = v1
# moodeque.api.base_url = api

# REDIS connection (defaults to localhost:6379)
# redis.host = localhost
# redis.port = 6379
# or
# redis.unix_socket_path = /path/to/socket

# Stereomoood
stereomood.api_key = 
stereomood.secret_key =
stereomood.username =
stereomood.password = 

# must be writable by the webserver
moodeque.song_cache_path = %(here)s/data

# moodeque.gevent = false

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

# Begin logging configuration

[loggers]
keys = root, moodeque

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_moodeque]
level = WARN
handlers =
qualname = moodeque

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
